(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("sim_build/dump.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "top",
            ],
            id: Wellen((3)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 0,
                    unfolded: true,
                    selected: true,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (23),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (24),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (25),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (26),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (27),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (28),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (29),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (30),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (31),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (32),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (33),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (34),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (35),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (36),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (28): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "top",
                            "WriteDataM_bsr",
                        ],
                        id: Wellen((267)),
                    ),
                    name: "shift_reg",
                    id: Wellen((1397)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…WriteDataM_bsr.shift_reg [32:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (27): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "top",
                            "DataAdrM_bsr",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "shift_reg",
                    id: Wellen((57)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…DataAdrM_bsr.shift_reg [32:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (3): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (24): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "top",
                            "PCF_bsr",
                        ],
                        id: Wellen((137)),
                    ),
                    name: "shift_reg",
                    id: Wellen((737)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…PCF_bsr.shift_reg [32:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (29): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "top",
                            "ReadDataM_bsr",
                        ],
                        id: Wellen((202)),
                    ),
                    name: "shift_reg",
                    id: Wellen((1067)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…ReadDataM_bsr.shift_reg [32:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Hexadecimal"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "top",
                            "jtag",
                        ],
                        id: Wellen((359)),
                    ),
                    name: "sample_preload",
                    id: Wellen((2036)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "sample_preload",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (26): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "top",
                            "MemWriteM_bsr",
                        ],
                        id: Wellen((134)),
                    ),
                    name: "shift_reg",
                    id: Wellen((717)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…MemWriteM_bsr.shift_reg [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Hexadecimal"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (36): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "top",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "ReadDataM",
                    id: Wellen((41)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "ReadDataM [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (9): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (23): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (35): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "top",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "WriteDataM_internal",
                    id: Wellen((46)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "WriteDataM_internal [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "top",
                            "jtag",
                        ],
                        id: Wellen((359)),
                    ),
                    name: "bsr_update",
                    id: Wellen((2016)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "bsr_update",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (25): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "top",
                            "InstrF_bsr",
                        ],
                        id: Wellen((69)),
                    ),
                    name: "shift_reg",
                    id: Wellen((387)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…InstrF_bsr.shift_reg [32:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "top",
                            "jtag",
                        ],
                        id: Wellen((359)),
                    ),
                    name: "debug_state",
                    id: Wellen((2058)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "debug_state [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (31): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "top",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "PCF_internal",
                    id: Wellen((42)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "PCF_internal [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (15): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "top",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "reset",
                    id: Wellen((35)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "reset",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (32): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "top",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "InstrF",
                    id: Wellen((37)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "InstrF [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (14): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "top",
                            "jtag",
                            "ir",
                        ],
                        id: Wellen((367)),
                    ),
                    name: "shift_reg",
                    id: Wellen((2119)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…ir.shift_reg [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "top",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "dbgclk",
                    id: Wellen((33)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "dbgclk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "top",
                            "jtag",
                        ],
                        id: Wellen((359)),
                    ),
                    name: "bsr_enable",
                    id: Wellen((2051)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "bsr_enable",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (34): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "top",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "DataAdrM_internal",
                    id: Wellen((45)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "DataAdrM_internal [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (30): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (33): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "top",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "MemWriteM_internal",
                    id: Wellen((44)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "MemWriteM_internal",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "top",
                            "jtag",
                            "ir",
                        ],
                        id: Wellen((367)),
                    ),
                    name: "instructions",
                    id: Wellen((2118)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "instructions [9:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "top",
                            "jtag",
                            "fsm",
                        ],
                        id: Wellen((366)),
                    ),
                    name: "State",
                    id: Wellen((2111)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "State [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
        },
        display_item_ref_counter: 37,
        viewports: [
            (
                curr_left: (-0.01027880958779038),
                curr_right: (0.41139294362426865),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            3102482,
        ])),
        markers: {},
        focused_item: Some((4)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (4),
        level: 0,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    frame_buffer: (
        pixels_per_row: 16,
        square_pixels: true,
        rgb_mode: false,
        grayscale_bits: 1,
        r_bits: 3,
        g_bits: 3,
        b_bits: 2,
    ),
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
    animation_enabled: None,
    use_dinotrace_style: None,
    transition_value: None,
)